<div class="text-center"><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <div id="notfound">
    <div class="notfound">
      <div class="display-4 blue-text d-inline-block notfound-404 h1">
        <h1>Oops!!!😓</h1><br />
      </div>

      <h2>404 - Page not found</h2>
      <p>The page you are looking for might have been removed, name changed or is temporarily unavailable.</p>
    </div><br />
    <a routerLink="/home" class="btn btn-sm btn-danger ">
      <h3>Click Here To Return</h3>
    </a>
  </div>
</div>