<div class="jumbotron">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #E91E63;">
    <a class="navbar-brand" href="#" style="color: #ffffff;">
      <h1><I>LUNCHEON DINING</I></h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <br /><br /><br /><br /><br />
  <div class="h1">
    <div class="top-margin" style="color: #ffffff">Explore Restaurants Near You🧐😍<br />
      <button class="btn btn-lg btn-success" (click)="onLocation()" routerLink="/restaurant">
        <h4>Click</h4>
      </button>
    </div>

  </div>